/* Barra de navegación */
.barra-navegacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Asegúrate de que esta altura sea correcta */
  z-index: 1000; /* Mantén el navbar por encima del contenido */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Opcional, ajusta según tu diseño */

  background: linear-gradient(90deg, #21aae1, #1084b9); /* Degradado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  color: white;
}



/* Logo */
.logo-navegacion {
  display: flex;
  align-items: center;
}

.logo-imagen {
  height: 50px;
  width: auto;
}

/* Lista de navegación */
.lista-navegacion {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.lista-navegacion li {
  display: inline;
}

.enlace-navegacion {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.enlace-navegacion:hover {
  background-color: #f1f9fe;
  color: #1084b9; /* Azul más oscuro */
  border-radius: 5px;
}

/* Botones */
.botones-navegacion {
  display: flex;
  gap: 10px;
}

.btn-iniciar-sesion,
.btn-registrarse {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Animación suave */
}

.btn-iniciar-sesion {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
}

.btn-iniciar-sesion:hover {
  background-color: #fff;
  color: #1084b9;
}

.btn-registrarse {
  background-color: #fff;
  color: #1084b9;
}

.btn-registrarse:hover {
  background-color: #134a67;
  color: white;
}
